<div class="div-center tablet-content">
  <h1 class="text-center">About Luther Navigator</h1>
  <p>
    Luther Navigator is a web-based application designed to allow the Luther
    College community to connect and share information from their experiences
    around the world. The app is designed to be a blend of social media,
    user-generated content and a TripAdvisor-style application. After creating
    an account, users are able to post reviews of hotels, restaurants, and other
    attractions from wherever their journeys take them. Users will also be able
    to search for specific Luther study away programs to share in the
    experiences and insights of others who have done the program or will do it
    in the future. Luther Navigator is all about connections—connections to
    parts of the world, connections to other members of the Luther community,
    and connections to the college’s shared global story.
  </p>
  <p>
    Luther Navigator was launched in May 2021 and was designed by three Luther
    students as a part of their senior project. The students—Will Allen ’21,
    Nell Himlie ’21, and David Oniani ’21—worked in collaboration with staff in
    the Luther Center for Global Learning to launch this new travel tool.
  </p>
</div>
