<link rel="stylesheet" type="text/css" href="/css/about.css" />

<div class="div-center tablet-content">
  <h1 class="text-center mb-1">About Luther Navigator</h1>
  <h4 class="text-center mt-1 mb-4 subhead">Social media, User-generated content, Travel tips-style application </h4>
  <p>
    Luther Navigator is a web-based application designed to allow the Luther
    College community to connect and share information from their experiences
    around the world.
  </p>
  <p class="emphasis mb-1">
    After creating an account, users are able to:
    <ul>
      <li>Post reviews of hotels, restaurants, and other
      attractions from wherever their journeys take them.</li> 
      <li>Search for specific Luther study away programs to share in the
      experiences and insights of others who have done the program or will do it
      in the future.</li>
    </ul>
  </p>
  <h5 class="text-center mt-4">
    Luther Navigator is all about connections
  </h5>
  <div class="row">
    <p href="" class="connections col-4">
      <img src="/img/vienna.jpg" alt="Vienna capitol building under opacity 35%" /><span
        >Connections to parts of the world</span
      >
    </p>
    <p href="" class="connections col-4">
      <img src="/img/vienna.jpg" alt="Vienna capitol building under opacity 35%" /><span
        >Connections to other members of the Luther community</span
      >
    </p>
    <p href="" class="connections col-4">
      <img src="/img/vienna.jpg" alt="Vienna capitol building under opacity 35%" /><span
        >Connections to the college’s shared global story</span
      >
    </p>
  </div>
  <p class="connections-alt text-center">
    The capitol building of Vienna, Austria
  </p>
  <p class="mt-3 mb-4">
    Luther Navigator was launched in May 2021 and was designed by three Luther
    computer science students as a part of their senior project. The
    students—Will Allen ’21, Nell Himlie ’21, and David Oniani ’21—worked in
    collaboration with staff in the Luther Center for Global Learning to launch
    this new travel tool.
  </p>
</div>