<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link rel="stylesheet" type="text/css" href="/css/main.css" />
<link rel="stylesheet" type="text/css" href="/css/post.css" />
<script type="text/javascript" src="/js/post.js"></script>

<div class="div-center background-blue">
  <div class="div-center lg-width post-header">
    <div class="flex-between">
      <h1 class="mt-3 mb-1">{{ location }}</h1>
      {{#if userPost}}
      <div class="dropdown mt-3 mr-3">
        <button
          class="btn delete-btn mt-1"
          type="button"
          id="post-dropdown"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <img
            src="/img/toggle_menu.png"
            class="delete-post-img"
            alt="Three dots"
          />
          <!-- <i class="fas fa-ellipsis-h" aria-hidden="true"></i> -->
        </button>
        <div
          class="dropdown-menu dropdown-menu-right"
          aria-labelledby="post-dropdown"
        >
          <form method="POST">
            <button
              class="dropdown-item"
              type="submit"
              formaction="/post/{{ postID }}/delete"
            >
              Delete post
            </button>
          </form>
        </div>
      </div>
      {{/if}}
    </div>
    <div class="row">
      <h4 class="location-info mb-4 col-12 col-md-8">
        <div class="row mb-2">
          <h3>{{ city }}, {{ country }}</h3>
        </div>
        {{#if address}}
        <div class="row mb-2">
          <a href="{{ addressURL }}" target="_blank">{{ address }}</a>
        </div>
        {{/if}} {{#if phone}}
        <div class="row mb-2">
          <a href="tel:{{ phone }}">{{ phoneFormatted }}</a>
        </div>
        {{/if}} {{#if website}}
        <div class="row mb-2">
          <a href="{{ websiteURL }}" target="_blank">{{ website }}</a>
        </div>
        {{/if}}
      </h4>
      <div class="mb-4 col-9 col-md-4">
        <table>
          <tr>
            <th>Rating</th>
          </tr>
          {{#each ratings}}
          <tr>
            <td>{{ this.name }}</td>
            <td class="align-top">
              {{#greaterThanEqual this.value 1}}
              <i class="fa fa-star checked"></i>
              {{else}}
              <i class="fa fa-star"></i>
              {{/greaterThanEqual}} {{#greaterThanEqual this.value 2}}
              <i class="fa fa-star checked"></i>
              {{else}}
              <i class="fa fa-star"></i>
              {{/greaterThanEqual}} {{#greaterThanEqual this.value 3}}
              <i class="fa fa-star checked"></i>
              {{else}}
              <i class="fa fa-star"></i>
              {{/greaterThanEqual}} {{#greaterThanEqual this.value 4}}
              <i class="fa fa-star checked"></i>
              {{else}}
              <i class="fa fa-star"></i>
              {{/greaterThanEqual}} {{#greaterThanEqual this.value 5}}
              <i class="fa fa-star checked"></i>
              {{else}}
              <i class="fa fa-star"></i>
              {{/greaterThanEqual}}
            </td>
          </tr>
          {{/each}}
        </table>
      </div>
    </div>
  </div>
</div>

<div class="div-center tablet-content">
  <div class="mb-4">
    {{#if error}}
    <div class="alert alert-danger" role="alert">{{error}}</div>
    {{/if}}
  </div>
  <div class="row post-img mb-5">
    {{#each images}}
    <div class="col-6 col-sm-4">
      <img
        src="/image/post/{{../postID}}/{{@index}}"
        alt="uploaded photo from user"
      />
    </div>
    {{/each}}
  </div>
  <div class="col flex-between mb-3">
    <div class="mr-2">
      <h3 class="tagline">{{ threeWords }}</h3>
      <ul class="short-list" id="post-details">
        <li>{{ firstname }} {{ lastname }}</li>
        <li>{{ status }}</li>
        <li>{{ program }}</li>
        <li><span class="timestamp-date">{{ createTime }}</span></li>
      </ul>
    </div>
    <div class="center">
      {{#if loggedIn}}
      <span onclick="toggleUpvote();">
        {{#if upvoted}}
        <i class="fas fa-thumbs-up" id="upvote"></i>
        {{else}}
        <i class="far fa-thumbs-up" id="upvote"></i>
        {{/if}}
      </span>
      {{else}}
      <span class="static-upvote">
        <i class="far fa-thumbs-up" id="upvote"></i>
      </span>
      {{/if}}
      <br />
      <span id="num-upvotes">{{ numUpvotes }}</span>
    </div>
  </div>
  <div class="col"></div>
  <div class="col post mb-5">
    <p>{{ content }}</p>
  </div>
</div>
