<div class="div-center tablet-content">
  <h1 class="text-center">Privacy Statement</h1>
  <p>
    Luther Navigator uses cookies to enhance user experience. A cookie is a
    small piece of data that a website, when visited by a user, asks your
    browser to store on your device in order to remember information about you,
    such as your language preference or login information. Those cookies are set
    by us and called first party cookies. We <i>do not</i> use third party
    cookies, which are cookies from a domain different than the domain of the
    website you are visiting.
  </p>
  <p>We use cookies for:</p>
  <ul>
    <li>Keeping you logged in</li>
    <li>Helping autofill forms</li>
    <li>Keeping track of form errors</li>
  </ul>
  <p>
    You may opt out of using cookies, although this is not advised, as all
    cookies we use are strictly necessary in order for the site to function as
    intended. Without cookies, you will not be able to access features of the
    application that require you to be logged in.
  </p>
  <p>
    For further info, see
    <a href="https://www.luther.edu/privacy/" target="_blank"
      >Luther's official privacy policy</a
    >.
  </p>
</div>
