<div class="div-center tablet-content">
  <h1 class="text-center">Terms of Use</h1>
  <p>
    As a Luther Navigator user, you affirm that you are a member of the Luther
    College community—current or past student, alumni member, current or past
    faculty/staff member, current or past parent—and affirm that the information
    supplied by you in any post is true, accurate, current, and complete.
  </p>
  <p>
    By using Luther Navigator, you acknowledge and agree to having any posts and
    pictures reviewed for content, edited, altered, or deleted by staff members
    in the Luther Center for Global Learning. In addition, you affirm that any
    pictures you upload to the site are either your own work or photos in the
    public domain.
  </p>
  <p>
    By using Luther Navigator, you also authorize Luther College to make use of
    excerpts of your words and any uploaded photos, along with your name, for
    purposes related to the educational mission of Luther College, including
    publicity, marketing, and promotion of the college and its various programs.
  </p>
</div>
