/* Three navigation buttons */
.menus {
  text-align: center;
}

.menu-button {
  padding: 0.5rem;
  font-size: 18pt;
}

.menu-button:hover {
  border: solid 1px #0061a3;
}

.adv-search,
.intro-text,
.zoom a i {
  color: #ffffff;
}

.intro-text p {
  text-align: left;
}

.zoom a i {
  font-size: 40pt;
  transition: all ease 500ms;
}

.zoom a i:hover{
  transform: scale(1.1);
}

.home-card {
  padding: 10px;
}

.home-suggestions {
  text-align: center;
}

.home-suggestions > h3 {
  text-align: left;
  padding-bottom: 10px;
  font-size: 18pt;
}

@media screen and (min-width: 768px) {
  .home-card {
    padding: 20px;
  }

  .zoom a i {
    font-size: 32pt;
  }

  .zoom a i:hover{
    transform: scale(1.25);
  }
}
